
/* .me-auto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
} */

.footer {
  bottom: 0;
  position: fixed;
  margin: 0 auto;
  width: auto;
}

.footerIcon {
  display: inline-block;
  margin: 1rem;
  padding: 2rem 2rem;
}

.link {
  text-decoration: none;
  color: inherit;
}


.projectCard{
  padding: 4px;
  box-shadow: 4px;
}

.headerIcon{
  max-width: 300px;
}