.background {
  background-image:
    url(./assets/icons/mainbackground.webp);
  background-size: auto;
  height: 110rem;
  color: white;
}

/* .me-auto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
} */

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 65px;
  text-align: center;
  padding: 3rem;
  margin-bottom: 3rem;
}

.footerIcon {
  display: inline-block;
  margin: 1rem;
  padding: 2rem 2rem;
}

.link {
  text-decoration: none;
  color: inherit;
}


.projectCard {
  padding: 4px;
  box-shadow: 4px;
}

.headerIcon {
  max-width: 300px;
  border-radius: 20px;
}

.abouttxt{
  margin-top: 3rem;
}

.skillstxt{
  size: 4rem;
}